[package]
name = "console"
description = "A terminal and console abstraction for Rust"
version = "0.6.0"
keywords = ["cli", "terminal", "colors", "console", "ansi"]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
license = "MIT"
homepage = "https://github.com/mitsuhiko/console"
documentation = "https://docs.rs/console"
readme = "README.md"

[dependencies]
clicolors-control = "0.2.0"
lazy_static = "0.2"
libc = "0"
parking_lot = "0"
regex = "0.2"
unicode-width = "0.1"

[target.'cfg(unix)'.dependencies]
termios = "0.2"

[target.'cfg(windows)'.dependencies]
winapi = "0"
kernel32-sys = "0"
